<div class="page-header header-filter" data-parallax="true" style=" background-image: url('../assets/img/kit/pro/examples/city.jpg'); height: 400px;">
    <div class = "container">
    <h2 class = "text-center">ADD A GUEST</h2>
    <h4 class = "description text-center">Tell us a little bit about your guest. </h4>
      </div>
    </div>
<div class="main main-raised" style="background-color:#f4f2f5">
            <div class="profile-content">
<div class = "container">

<form action="/create_guest" method="post" enctype="multipart/form-data">
  <h3 class = "font-weight-bold py-4 text-rose"> RSVP Information</h3>
  
  <!-- Label and input for firstname -->
  <div class="form-group">
    <label for="firstname">
      First Name
    </label>

    <input type="text" id="firstname" name="firstname" class="form-control">
  </div>

  <!-- Label and input for lastname -->
  <div class="form-group">
    <label for="lastname">
      Last Name
    </label>

    <input type="text" id="lastname" name="lastname" class="form-control">
  </div>
  
  <!-- Label and input for age group -->
  
  
  <div class="form-group">
    <label for="age">
      Age Group
    </label>
                    <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="age" id="age" value="Adult" checked>
                                Adult (Drinking Age)
                                <span class="circle">
                                    <span class="check bg-dark"></span>
                                </span>
                            </label>
                          </div>
                        
                          <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="age" id="age" value="Young Adult">
                                Young Adult (Not of Drinking Age)
                                <span class="circle">
                                    <span class="check bg-dark"></span>
                                </span>
                            </label>
                          </div>  
                          
                          <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="age" id="age" value="Child">
                                Child (Kid's Menu)
                                <span class="circle">
                                    <span class="check bg-dark"></span>
                                </span>
                            </label>
                          </div>  
  
                            <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="age" id="age" value="Infant">
                                Infant
                                <span class="circle">
                                    <span class="check bg-dark"></span>
                                </span>
                            </label>
                          </div>  

<!-- Label and input for food -->
  <div class="form-group">
    <label for="food">
      Entree & Food Options 
    </label>

    <input type="text" id="food" name="food" class="form-control" value= "Options will be available after October, 2018">
  </div>

<!-- Label and input for food -->
  <div class="form-group">
    <label for="dietary">
      Dietary Restrictions 
    </label>

    <input type="text" id="dietary" name="dietary" class="form-control" value="None">
  </div>

  <!-- hidden input for user_id -->

    <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

  <button class="btn btn-block btn-rose">
    Add a guest
  </button>
  <a href="/guests" class = "btn btn-block btn-outline-secondary text-center"> Go Back </a>
</form>

<hr>


</div>
</div>
</div>