                  <h3 class = "title"> The Couple </h3>
                  <div class="row">
               <div class="col-md-6">
                        
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                    <img class="img" src="../assets/img/couple/neilprof.PNG">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Neil Anthony Dean</h4>
                                <h6 class="category text-muted">Groom</h6>
                                <p class="card-description"> 
                                Beekeeper, Luddite, Romantic Lover LOL
                                </p>
                            </div>
                        </div>
         
         
         
         
                </div>
                <div class="col-md-6">
                        
                       <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                    <img class="img" src="../assets/img/couple/eugeneprof.JPG">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Eugene Suh</h4>
                                <h6 class="category text-muted">Bride</h6>
                                <p class="card-description"> 
                                Loves Neil so so so much
                                </p>
                            </div>
                        </div>
         
         
         
                </div>
                </div>
        =                          <h3 class = "title"> Our Photos </h3>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/page1.jpg">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/page2.jpg">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/page3.jpg">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/page4.jpg">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/page5.JPG">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/page6.JPG">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/page7.JPG">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/page8.JPG">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/page9.JPG">
                    </div>
                    <div class="col-md-6 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/page10.JPG">
                    </div>
                    <div class="col-md-6 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/page11.JPG">
                    </div>
                    
                    
                    </div>