                  <h3 class = "title"> The Couple </h3>
                  <div class="row">
               <div class="col-md-6">
                        
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                    <img class="img" src="../assets/img/couple/neilprof.PNG">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Neil Anthony Dean</h4>
                                <h6 class="category text-muted">Groom</h6>
                                <p class="card-description"> 
                                Born in St.Louis, MO, grew up in Coral Springs, FL, went to Brandeis University, MA, and worked in Boston for 10 years.
                                </p>
                            </div>
                        </div>
         
         
         
         
                </div>
                <div class="col-md-6">
                        
                       <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                    <img class="img" src="../assets/img/couple/eugeneprof.JPG">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Eugene Suh</h4>
                                <h6 class="category text-muted">Bride</h6>
                                <p class="card-description"> 
                                Eugene was born and raised in Seoul, South Korea, went to catholic school in New York, 
                                studied and worked in Chicago, worked and fell in love with Neil in Boston, and finally
                                moved back to Chicago with Neil.
                                </p>
                            </div>
                        </div>
         
         
         
                </div>
                </div>
                          <h3 class = "title"> Our Photos </h3>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/eng1.jpg">
                    </div>
                    <div class="col-md-6 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/eng7.jpg">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/eng2.jpg">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/eng5.jpg">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/eng9.jpg">
                    </div>
                    <div class="col-md-6 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/eng4.jpg">
                    </div>
                    <div class="col-md-6 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/eng3.jpg">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/page5.JPG">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/page7.JPG">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/page9.JPG">
                    </div>
                    <div class="col-md-6 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/eng10.jpg">
                    </div>
                    <div class="col-md-6 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/eng8.jpg">
                    </div>
                    <div class="col-md-6 mb-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/couple/eng6.jpg">
                    </div>
                    
                    </div>