                  <h3 class = "title"> The Dean Family </h3>
                  <div class="row">
                     <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/grand.JPG">
                            </div>
                                <h6 class="card-category text-info mt-4">Groom's Grandparents</h6>
                                <h4 class="card-title"> Grannie Hart & Grandpa Neil </h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/papadean.jpeg">
                            </div>
                                <h6 class="card-category text-info mt-4">Groom's Father</h6>
                                <h4 class="card-title"> Peter Dean </h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/mama.JPG">
                            </div>
                                <h6 class="card-category text-info mt-4">Groom's Mother</h6>
                                <h4 class="card-title"> Cynthia Messick Dean </h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/amd.JPG">
                            </div>
                                <h6 class="card-category text-info mt-4">Groom's Sister</h6>
                                <h4 class="card-title"> Annie Margaret Dean </h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/france.jpg">
                            </div>
                                <h6 class="card-category text-info mt-4">Groom's Sister</h6>
                                <h4 class="card-title"> Frances Dean </h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/mord.JPG">
                            </div>
                                <h6 class="card-category text-info mt-4">Our Furry Friend</h6>
                                <h4 class="card-title"> Jack Dean </h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/mord.JPG">
                            </div>
                                <h6 class="card-category text-info mt-4">Our Furry Friend</h6>
                                <h4 class="card-title"> Mordecai Dean </h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/mord.JPG">
                            </div>
                                <h6 class="card-category text-info mt-4">Our Furry Friend</h6>
                                <h4 class="card-title"> Darcy Dean </h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/mord.JPG">
                            </div>
                                <h6 class="card-category text-info mt-4">Our Furry Friend</h6>
                                <h4 class="card-title"> Tex Dean </h4>
                        </div>
                    </div>
                </div>