                  <h3 class = "title my-5"> The Dean Family </h3>
                  <div class="row">
                     <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/grand.JPG">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info ">Groom's Grandparents</h6>
                                <h4 class="card-title"> Grannie Hart & Grandpa Neil </h4>
                        </div> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/papa.jpeg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info ">Groom's Father</h6>
                                <h4 class="card-title"> Peter Dean </h4>
                        </div> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/mamadean.png">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info ">Groom's Mother</h6>
                                <h4 class="card-title"> Cynthia Messick Dean </h4>
                        </div> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/amd.JPG">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info ">Groom's Sister</h6>
                                <h4 class="card-title"> Annie Margaret Dean </h4>
                        </div> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/fj.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info ">Groom's Sister & Brother-in-law</h6>
                                <h4 class="card-title"> Frances Dean & Joe Amado </h4>
                        </div> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/jack.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info ">Our Furry Friend</h6>
                                <h4 class="card-title"> Jack Dean </h4>
                        </div>
                    </div> 
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/mord.JPG">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info ">Our Furry Friend</h6>
                                <h4 class="card-title"> Mordecai Dean </h4>
                        </div> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/darc.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info ">Our Furry Friend</h6>
                                <h4 class="card-title"> Darcy Dean </h4>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/mama.JPG">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info mb-0">Our Furry Friend</h6>
                                <h4 class="card-title"> Tex Dean </h4>
                        </div> </div>
                    </div>
                </div>
