<div class="container-fluid">

                  <h3 class = "title my-5"> The Wedding Party </h3>
                  <div class="row">
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/jj.png">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-rose">Maid of Honor</h6>
                                <h4 class="card-title"> Jiwon Suh </h4>
                                <p class="card-description">
                                      Bride's Sister   
                                </p>
                            </div>
                        </div>
                    </div>
                              <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/sorra.jpeg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-rose">Bridesmaid</h6>
                                <h4 class="card-title"> Sora Jung Graham </h4>
                                <p class="card-description">
                                     Bride's High School Friend
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/ding.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-rose">Bridesmaid</h6>
                                <h4 class="card-title"> Hazel Hyejung Han </h4>
                                <p class="card-description">
                                     Bride's College Friend
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/soo.png">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-rose">Bridesmaid</h6>
                                <h4 class="card-title"> Soojin Yoon </h4>
                                <p class="card-description">
                                      Bride's College Friend 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/annie.JPG">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-rose">Bridesmaid</h6>
                                <h4 class="card-title"> Annie Margaret Dean </h4>
                                <p class="card-description">
                                      Groom's Sister 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/fran.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-rose">Bridesmaid</h6>
                                <h4 class="card-title"> Frances Dean </h4>
                                <p class="card-description">
                                      Groom's Sister 
                                </p>
                            </div>
                        </div>
                    </div>
                     </div>

               <div class = "row">
                   <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/josh.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info">Officiant & Best Man</h6>
                                <h4 class="card-title"> Josh Towbin </h4>
                                <p class="card-description">
                                      Groom's College Friend 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/adam.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info">Groomsman</h6>
                                <h4 class="card-title"> Adam Goldstein </h4>
                                <p class="card-description">
                                      Groom's College Friend
                                </p>
                            </div>
                        </div>
                    </div>
                                         <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/dan.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info">Groomsman</h6>
                                <h4 class="card-title"> Danny Castello</h4>
                                <p class="card-description">
                                      Groom's Childhood Friend
                                </p>
                            </div>
                        </div>
                    </div>
                <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/dan.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info">Groomsman</h6>
                                <h4 class="card-title"> Evan Ross</h4>
                                <p class="card-description">
                                      Groom's Childhood Friend
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/jooe.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info">Groomsman</h6>
                                <h4 class="card-title"> Jongmin Kim </h4>
                                <p class="card-description">
                                      Groom's Brother-in-law
                                </p>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/jooe.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info">Groomsman</h6>
                                <h4 class="card-title"> Joe Amado </h4>
                                <p class="card-description">
                                      Groom's Soon-to-be Brother-in-law
                                </p>
                            </div>
                        </div>
                    </div>
               </div>
            
                
                </div>