
                  <h3 class = "title my-5"> The Bride's Family </h3>
                  <div class="row">
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                             <img class="img img-raised" src="../assets/img/fam/halmuni.JPG">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-success">Bride's Grandparents</h6>
                                <h5 class="card-title"> Grandma & Grandpa </h5>
                        </div> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                             <img class="img img-raised" src="../assets/img/fam/bobo.jpeg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-success ">Bride's Father</h6>
                                <h4 class="card-title"> Bosang (Bo) Suh </h4>
                        </div> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/sees.JPG">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-success ">Bride's Mother</h6>
                                <h4 class="card-title"> Seeyoung Hong </h4>
                        </div> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/jongmin.JPG">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-success ">Bride's Brother-in-law & Sister</h6>
                                <h4 class="card-title"> Jongmin Kim & Jiwon Suh </h4>
                        </div> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/kims.JPG">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-success ">Bride's Aunt, Uncle, and Cousins</h6>
                                <h4 class="card-title"> So Young Hong, Byung-hak Kim, Jonghwee Kim, Jihyun Kim </h4>
                        </div>
                    </div> </div>
                   <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/emo.JPG">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-success ">Bride's Aunt and Uncle</h6>
                                <h4 class="card-title"> Andy Osborn & Sun Hong </h4>
                        </div> </div>
                    </div>
                    
                     <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/ella.JPG">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-success ">Bride's Cousin</h6>
                                <h4 class="card-title"> Ella Eleanor Hong Osborn </h4>
                        </div> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/charles.JPG">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-success ">Bride's Cousin</h6>
                                <h4 class="card-title"> Charlie Hopkins Hong Osborn </h4>
                        </div> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/cos.jpeg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-success ">Bride's Cousins</h6>
                                <h4 class="card-title"> Youngsik, Mijin, & Baby Junmo </h4>
                        </div>
                         </div>
                    </div>
                    
                     <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/brown.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-success ">Our Furry Friend</h6>
                                <h4 class="card-title"> Suh Brown </h4>
                        </div>
                         </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                    <img class="img img-raised" src="../assets/img/fam/silver.jpeg">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-success ">Our Furry Friend</h6>
                                <h4 class="card-title"> Kim Silver </h4>
                        </div>
                         </div>
                    </div>
                </div>
