<div class="page-header header-filter" data-parallax="true" style=" background-image: url('../assets/img/kit/pro/bg9.jpg'); height: 400px;">
    <div class = "container">
    <h2 class = "text-center">ADD A NEW SONG</h2>
    <h4 class = "description text-center">Tell us how you want to boogie down
</h4>
      </div>
    </div>
<div class="main main-raised" style="background-color:#EAEAEA">
            <div class="profile-content">
<div class = "container">
<!-- Validation failure messages -->
<% if @song.present? %>
  <% if @song.errors.any? %>
    <% @song.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<hr>

<form action="/create_song" method="post" enctype="multipart/form-data">
  <h4 class = "mb-4"> Add New Song</h2>
  
  <!-- Label and input for title -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @song.try(:title) %>">
  </div>

  <!-- Label and input for artist -->
  <div class="form-group">
    <label for="artist">
      Artist
    </label>

    <input type="text" id="artist" name="artist" class="form-control" value="<%= @song.try(:artist) %>">
  </div>

  <!-- hidden input for user_id -->

    <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

  <button class="btn btn-block btn-primary">
    Create song
  </button>
  <a href="/songs" class = "btn btn-block btn-outline-secondary text-center"> Go Back </a>
</form>

<hr>


</div>
</div>
</div>